:root{
    --background-primary: #FAF9F6;
    --text-default: #4c4542;
    --secondaire-cyan: #009192;
    --secondaire-bleu: #0070c0;
    --secondaire-mauve: #581c9e;
    --accent-orange: #ff855d;
    --accent-rose: #fe4687;
}

body {
    background-color: var(--background-primary);
    font-size: 1.2em;
    color: var(--text-default);
    font-family: 'Avenir', 'Helvetica', sans-serif;
}

.cont {
    /* margin: 0; */
    display: flex;
    flex-direction: row;
    height: 100vh;
    line-height: 175%;
}

.gauche {
    flex-basis: 35%;
    overflow-y: auto;
    padding-left: 10%;
    padding-right: 10%;
}

.droite { 
    flex-basis: 65%; 
    padding: 5%; 
    overflow: hidden;
}

.surligner{
  --floating-background: var(--background-primary);
  border-radius: 0;
  padding-bottom: 5px;
  background-image: linear-gradient(
    360deg,
    var(--accent-orange) 28%,
    var(--floating-background) 28%
  ) !important;
  font-weight: bold;
}

.media {
    flex-grow: 1;
    flex-shrink: 1;
}

/* classes de texte */

h1 {
    color: var(--secondaire-bleu);
    font-family: 'Montserrat', 'Helvetica', sans-serif;
    text-align: center;
    font-variant-caps: small-caps;
}

h2 {
    color: var(--secondaire-bleu);
    font-family: 'Montserrat', 'Helvetica', sans-serif;
}

h3 {
    color: var(--secondaire-bleu);
    font-family: 'Montserrat', 'Helvetica', sans-serif;
}

code {
    font-weight: bold;
    color: var(--accent-rose)
}

/* liens hypertexte */

a {
    color: var(--secondaire-cyan);
    text-decoration: none;
}

a:active, a:hover {
    color: var(--secondaire-mauve);
}