:root{
    --off-white: #FAF9F6;
    --taupe: #4c4542;
    --secondaire-cyan: #009192;
    --secondaire-bleu: #0070c0;
    --secondaire-mauve: #581c9e;
    --accent-orange: #ff855d;
    --accent-rose: #fe4687;
}

body {
    background-color: var(--off-white);
    font-size: 1.2em;
    color: var(--taupe);
    font-family: 'Avenir Light', 'Avenir', 'Montserrat', 'Helvetica', sans-serif;
}

/* navigation */

.navbar {
    background-color: var(--secondaire-bleu);
    padding: 0.2em;
    margin: 0.2em;
    margin-bottom: 2em;
    display: flex;
}

.navtab {
    color: var(--off-white);
    flex-grow: 1;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    padding: 0.5em;
    text-align: center;
}

.navtab a {
    color: var(--off-white);
    position: relative;
}

.navtab a::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 20%;
  bottom: 0;
  left: 0;
  background-color: var(--off-white);
  transform: scaleX(0);
  transform-origin: top left;
  transition: transform 0.3s ease;
}

.navtab a:hover {
    color: var(--off-white);
}

.navbar a:hover::before {
  transform: scaleX(1);
}

.flechehaut {
    position: fixed;
    bottom: 2%;
    left: 2%;
}

.flechehaut img {
    height: 50px;
    width: 50px;
}

/* corps du texte */

.cont {
    display: flex;
    flex-direction: row;
    height: 89vh;
    line-height: 175%;
}

.gauche {
    flex-basis: 45%;
    overflow-y: auto;
    padding-left: 10%;
    padding-right: 10%;
}

.droite { 
    flex-basis: 55%; 
    padding: 5%; 
    overflow: hidden;
}

.surligner{
  --floating-background: var(--off-white);
  border-radius: 0;
  padding-bottom: 5px;
  background-image: linear-gradient(
    360deg,
    var(--accent-orange) 28%,
    var(--floating-background) 28%
  ) !important;
  font-weight: bold;
}

.media {
    flex-grow: 1;
    flex-shrink: 1;
}

/* classes de texte */

h1 {
    color: var(--secondaire-bleu);
    font-family: 'Montserrat', 'Helvetica', sans-serif;
    text-align: center;
    font-variant-caps: small-caps;
}

h2 {
    color: var(--secondaire-bleu);
    font-family: 'Montserrat', 'Helvetica', sans-serif;
}

h3 {
    color: var(--secondaire-bleu);
    font-family: 'Montserrat', 'Helvetica', sans-serif;
}

code {
    font-weight: bold;
    color: var(--accent-rose)
}

/* liens hypertexte et abbr*/

a {
    color: var(--secondaire-cyan);
    text-decoration: none;
}

a:active, a:hover {
    color: var(--secondaire-mauve);
}

/*
Source - https://stackoverflow.com/a/18818056
Posted by Dadou, modified by community. See post 'Timeline' for change history
Retrieved 2025-12-06, License - CC BY-SA 3.0
*/

abbr {
    position: relative;
}

abbr:hover::after {
    position: absolute;
    bottom: 100%;
    left: 100%;
    display: block;
    padding: 1em;
    background: var(--taupe);
    color: var(--off-white);
    content: attr(title);
}
